.container{
    display:grid;
    grid-template-columns: 350px 1400px;
    grid-template-rows: 210px 1050px;
}
.sidebar{
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: aqua;
}
.main{
    background-color: lightgray;
}